# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# ------------------------------
# Django
# ------------------------------
db.sqlite3
*.sqlite3

media/
staticfiles/

# Arquivos de migração compilados
*.mo

# ------------------------------
# Variáveis de ambiente
# ------------------------------
.env
.env.*

# ------------------------------
# IDEs
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Sistema operacional
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Arquivos temporários
# ------------------------------
*.swp
*.swo


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# SQLite (se não quiser versionar)
db.sqlite3

# VSCode / IDE
.vscode/
.idea/

# PythonAnywhere
*.log
